.home-top {
  &__ttl {
    font-size: 8rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
  &__subttl{
    font-size: 5rem;
    display: block;
  }
  &__mainttl{
    display: block;
  }
}

.home-section {
  padding: 5rem 0;
  .pure-btn {
    margin: 3rem auto 0 auto;
    display: flex;
    width: fit-content;
  }
}

.home-blog {
  &__ttl{
    font-size: 4rem;
  }
}

.blog-entries {
  a{
    display: block;
  }
  &__item{
    display: flex;
    align-items: flex-start;
    padding: 2rem 0;
    & + & {
      border-top: solid 2px #e7e7e7;
    }
  }
  &__img{
    width: 25rem;
  }
  &__ttl{
    font-size: 2.4rem;
  }
  &__txtbox{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}