.ttl-01 {
  font-size: 4rem;
  font-family: "raisonne";
}

.ttl-02 {
  font-size: 2.8rem;
}

.ttl-03 {
  font-size: 2rem;
}

@for $i from 1 through 10 {
  .mt-#{$i}0 {
    margin-top: $i * 1rem;
  }
  .mb-#{$i}0 {
    margin-bottom: $i * 1rem;
  }
  .mr-#{$i}0 {
    margin-right: $i * 1rem;
  }
  .ml-#{$i}0 {
    margin-left: $i * 1rem;
  }
}

.pt-10 {
  padding-top: 1rem;
}

.section {
  padding: 5rem 0;
  &__ttl {
    font-size: 4rem;
    padding: 0 0 2rem 0;
    font-family: "raisonne";
    text-align: center;
  }
  &__ol {
    list-style-position: inside;
  }
  &__ol-item {
    font-size: 1.6rem;
  }
}
