$black: #333;
$orange: #fdc568;
$red: #ff0000;
$blue: #0000ff;
$blue-1: #6d8ff8;
$blue-2: #4569d6;
$blue-3: #1e90ff;
$green: #00ff00;
$green-1: #228b22;

$tb-max-width: 1024px;
$sp-max-width: 600px;