@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "NotoSansJP-Regular";
  src: url(fonts/NotoSansJP-Regular.otf);
}

@font-face {
  font-family: "raisonne";
  src: url(fonts/raisonne-demibold.ttf);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "NotoSansJP-Regular", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  letter-spacing: 0.1rem;
}

body {
  width: 100%;
}

pre code {
  font-size: 1.6rem;
}

pre {
  overflow: scroll;
  max-height: 300px;
  max-width: 100vw;
}

p,
a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #333;
}

.ttl-01 {
  font-size: 4rem;
  font-family: "raisonne";
}

.ttl-02 {
  font-size: 2.8rem;
}

.ttl-03 {
  font-size: 2rem;
}

.mt-10 {
  margin-top: 1rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mr-10 {
  margin-right: 1rem;
}

.ml-10 {
  margin-left: 1rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mr-20 {
  margin-right: 2rem;
}

.ml-20 {
  margin-left: 2rem;
}

.mt-30 {
  margin-top: 3rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mr-30 {
  margin-right: 3rem;
}

.ml-30 {
  margin-left: 3rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.mr-40 {
  margin-right: 4rem;
}

.ml-40 {
  margin-left: 4rem;
}

.mt-50 {
  margin-top: 5rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mr-50 {
  margin-right: 5rem;
}

.ml-50 {
  margin-left: 5rem;
}

.mt-60 {
  margin-top: 6rem;
}

.mb-60 {
  margin-bottom: 6rem;
}

.mr-60 {
  margin-right: 6rem;
}

.ml-60 {
  margin-left: 6rem;
}

.mt-70 {
  margin-top: 7rem;
}

.mb-70 {
  margin-bottom: 7rem;
}

.mr-70 {
  margin-right: 7rem;
}

.ml-70 {
  margin-left: 7rem;
}

.mt-80 {
  margin-top: 8rem;
}

.mb-80 {
  margin-bottom: 8rem;
}

.mr-80 {
  margin-right: 8rem;
}

.ml-80 {
  margin-left: 8rem;
}

.mt-90 {
  margin-top: 9rem;
}

.mb-90 {
  margin-bottom: 9rem;
}

.mr-90 {
  margin-right: 9rem;
}

.ml-90 {
  margin-left: 9rem;
}

.mt-100 {
  margin-top: 10rem;
}

.mb-100 {
  margin-bottom: 10rem;
}

.mr-100 {
  margin-right: 10rem;
}

.ml-100 {
  margin-left: 10rem;
}

.pt-10 {
  padding-top: 1rem;
}

.section {
  padding: 5rem 0;
}

.section .center-btn {
  margin: 3rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2px;
  border: solid 1px #333;
}

.section__ttl {
  font-size: 4rem;
  padding: 0 0 2rem 0;
  font-family: "raisonne";
  text-align: center;
}

.section__ol {
  list-style-position: inside;
}

.section__ol-item {
  font-size: 1.6rem;
}

.header {
  height: auto;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: 'raisonne';
  letter-spacing: 3px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #ffffff;
}

.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__logo-img {
  width: 50px;
  height: 50px;
}

.header__logo-ttl {
  display: block;
  padding: 0 0 0 0.5rem;
  font-size: 1.8rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__nav-item a {
  font-size: 1.6rem;
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.3;
  transition: all 0.3;
  display: inline-block;
  position: relative;
}

.header__nav-item a:after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background: #333;
  bottom: -3px;
  left: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header__nav-item a:hover:after {
  width: 100%;
}

.header__nav-item + .header__nav-item {
  margin: 0 0 0 1.5rem;
}

@media screen and (max-width: 480px) {
  .header__nav {
    display: none;
  }
}

.footer {
  background: #444;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
  color: #fff;
}

.sidebar {
  width: 25rem;
  margin: 0 0 0 3rem;
}

.sidebar__list {
  list-style: none;
}

.sidebar__list-item {
  border-top: solid 2px #333;
  padding: 1rem;
}

.sidebar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar__count {
  display: block;
  padding: 0 1rem;
  background: #333;
  color: #fff;
}

.sidebar__search #searchform div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__search #searchform input {
  height: 4rem;
  border: none;
  outline: none;
  background: #efefef;
  border-radius: 3px;
  font-size: 1.4rem;
  font-family: "NotoSansJP-Regular";
}

.sidebar__search #searchform input[type="text"] {
  width: 16rem;
  padding: 0 1rem;
}

.sidebar__search #searchform input[type="submit"] {
  width: 6rem;
  margin: 0 0 0 1rem;
  cursor: pointer;
}

.sidebar__search #searchform input[type="submit"]:hover {
  background: #e6e6e6;
}

.sidebar__blog {
  margin: 3rem 0 0 0;
}

.sidebar__portfolio {
  margin: 2rem 0 0 0;
}

@media screen and (max-width: 480px) {
  .sidebar {
    width: 100%;
    margin: 10rem 0 0 0;
  }
}

#breadcrumb {
  white-space: nowrap;
  overflow: auto hidden;
}

#breadcrumb .list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0.5rem 0;
}

#breadcrumb .list__item {
  position: relative;
}

#breadcrumb .list__item a,
#breadcrumb .list__item span {
  font-size: 1.4rem;
}

#breadcrumb .list__item a {
  color: #0000ff;
  text-decoration: none;
}

#breadcrumb .list__item + .list__item {
  margin: 0 0 0 2rem;
}

#breadcrumb .list__item:not(:last-child)::after {
  content: ">";
  font-size: 1.4rem;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(180%, -50%);
          transform: translate(180%, -50%);
}

.home-top__ttl {
  font-size: 5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: "raisonne";
}

.home-top__subttl {
  font-size: 2rem;
  display: block;
}

.home-top__mainttl {
  display: block;
}

.blog-entries a {
  display: block;
}

.blog-entries__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2rem 0;
  -webkit-box-shadow: 0 3px 6px -2px #ccc;
          box-shadow: 0 3px 6px -2px #ccc;
  border-radius: 5px;
}

.blog-entries__item:first-child {
  margin-top: 0;
}

.blog-entries__item:last-child {
  margin-bottom: 0;
}

.blog-entries__img {
  width: 25rem;
  background: #f9f9f9;
}

.blog-entries__ttl {
  font-size: 2.4rem;
}

.blog-entries__txtbox {
  padding: 0 0 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 480px) {
  .blog-entries__img-wrapper {
    width: 100%;
  }
  .blog-entries__ttl {
    font-size: 2rem;
  }
  .blog-entries__img {
    width: 100%;
    background: #f9f9f9;
  }
  .blog-entries__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-entries__txtbox {
    padding: 0;
  }
}

.portfolio-entries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1vw;
}

.portfolio-entries a {
  display: block;
  padding-top: 100%;
  background: #00000000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolio-entries a:hover {
  background: #00000088;
}

.portfolio-entries a:hover .portfolio-entries__ttl {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.portfolio-entries__item {
  width: calc(100% / 3 - 0.7vw);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
}

.portfolio-entries__item:hover {
  background-size: 105% 105%;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.portfolio-entries__ttl {
  font-size: 1.6rem;
  font-weight: normal;
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #fff;
  opacity: 0;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.portfolio-entries .category-list {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio-entries .category-list__item {
  background: #fff;
  margin: 1rem;
  padding: 0.1rem 0.5rem;
  font-size: 1.4rem;
}

.portfolio-entries .category-list__item + .category-list__item {
  margin-left: 0;
}

@media screen and (max-width: 480px) {
  .portfolio-entries {
    gap: 3rem;
  }
  .portfolio-entries__item {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    -webkit-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    -webkit-filter: grayscale(90%);
            filter: grayscale(90%);
  }
  .portfolio-entries__item:hover {
    background-size: 105% 105%;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

.button-entries .codebox {
  height: 0;
}

.button-entries__item {
  width: 100%;
}

.pure-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 1.4rem 7rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  color: #333;
  background: #fff;
  border: 2px solid #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-01-rounded {
  border-radius: 10rem;
}

.btn-02:hover {
  background: #333;
  color: #fff;
}

.btn-02-rounded {
  border-radius: 10rem;
}

.btn-02-rounded:hover {
  background: #333;
  color: #fff;
}

.btn-03 {
  -webkit-box-shadow: 3px 3px 0 #333;
          box-shadow: 3px 3px 0 #333;
}

.btn-03:hover {
  -webkit-box-shadow: -3px -3px 0 #333;
          box-shadow: -3px -3px 0 #333;
}

.btn-03-rounded {
  -webkit-box-shadow: 3px 3px 0 #333;
          box-shadow: 3px 3px 0 #333;
  border-radius: 10rem;
}

.btn-03-rounded:hover {
  -webkit-box-shadow: -3px -3px 0 #333;
          box-shadow: -3px -3px 0 #333;
}

.btn-04:after {
  content: "";
  position: absolute;
  right: 1.5rem;
  bottom: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  -webkit-transform: rotate(45deg) translate(0, 66%);
          transform: rotate(45deg) translate(0, 66%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-04:hover:after {
  right: 1rem;
}

.btn-04-rounded {
  border-radius: 10rem;
}

.btn-04-rounded:after {
  content: "";
  position: absolute;
  right: 1.5rem;
  bottom: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  -webkit-transform: rotate(45deg) translate(0, 66%);
          transform: rotate(45deg) translate(0, 66%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-04-rounded:hover:after {
  right: 1rem;
}

.btn-05:after {
  content: "";
  position: absolute;
  right: 1.5rem;
  bottom: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  -webkit-transform: rotate(45deg) translate(0, 66%);
          transform: rotate(45deg) translate(0, 66%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-05:hover {
  background: #333;
  color: #fff;
}

.btn-05:hover:after {
  right: 1rem;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
}

.btn-05-rounded {
  border-radius: 10rem;
}

.btn-05-rounded:after {
  content: "";
  position: absolute;
  right: 1.5rem;
  bottom: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  -webkit-transform: rotate(45deg) translate(0, 66%);
          transform: rotate(45deg) translate(0, 66%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-05-rounded:hover {
  background: #333;
  color: #fff;
}

.btn-05-rounded:hover:after {
  right: 1rem;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
}

.btn-06:before, .btn-06:after {
  content: "";
  position: absolute;
  right: 1.5rem;
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 66%);
          transform: rotate(45deg) translate(0, 66%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-06:before {
  right: 0.1rem;
  width: 2rem;
  height: 2rem;
  background: #333;
  border-radius: 50%;
}

.btn-06:after {
  width: 0.5rem;
  height: 0.5rem;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
}

.btn-06:hover {
  background: #333;
  color: #fff;
}

.btn-06:hover:before {
  right: -0.4rem;
  background: #fff;
}

.btn-06:hover:after {
  right: 1rem;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
}

.btn-06-rounded {
  border-radius: 10rem;
}

.btn-06-rounded:before, .btn-06-rounded:after {
  content: "";
  position: absolute;
  right: 1.5rem;
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 66%);
          transform: rotate(45deg) translate(0, 66%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-06-rounded:before {
  right: 0.1rem;
  width: 2rem;
  height: 2rem;
  background: #333;
  border-radius: 50%;
}

.btn-06-rounded:after {
  width: 0.5rem;
  height: 0.5rem;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
}

.btn-06-rounded:hover {
  background: #333;
  color: #fff;
}

.btn-06-rounded:hover:before {
  right: -0.4rem;
  background: #fff;
}

.btn-06-rounded:hover:after {
  right: 1rem;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
}

.btn-07 {
  background: #6d8ff8;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}

.btn-07:hover {
  background: #4569d6;
}

.btn-07-rounded {
  background: #fff;
  color: #6d8ff8;
  border: solid 2px #6d8ff8;
  border-radius: 10rem;
}

.btn-07-rounded:hover {
  background: #6d8ff8;
  color: #fff;
}

.btn-08 {
  border: none;
  border-radius: 10rem;
  background: #fbfbfb;
  -webkit-box-shadow: -4px -4px 15px #fefefe, 4px 4px 15px #bbb;
          box-shadow: -4px -4px 15px #fefefe, 4px 4px 15px #bbb;
}

.btn-08:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-box-shadow: -2px -2px 5px #fefefe, 2px 2px 5px #bbb;
          box-shadow: -2px -2px 5px #fefefe, 2px 2px 5px #bbb;
}

.btn-08:active {
  -webkit-transition: 0.05s;
  transition: 0.05s;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
          box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.btn-08-2 {
  border: none;
  border-radius: 10rem;
  background: #6d8ff8;
  color: #fff;
  -webkit-box-shadow: -3px -3px 6px #fff, 3px 3px 6px #bbb;
          box-shadow: -3px -3px 6px #fff, 3px 3px 6px #bbb;
  text-shadow: 2px 2px 6px #bbb;
}

.btn-08-2:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: -5px -5px 10px #fff, 5px 5px 10px #bbb;
          box-shadow: -5px -5px 10px #fff, 5px 5px 10px #bbb;
}

.btn-08-2:active {
  -webkit-transition: 0.05s;
  transition: 0.05s;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: -1px -1px 3px #fff, 1px 1px 3px #bbb;
          box-shadow: -1px -1px 3px #fff, 1px 1px 3px #bbb;
}

.post-type-archive-button .link,
.tax-button_cat .link {
  display: block;
  text-decoration: none;
  color: #333333;
}

.post-type-archive-button .link h2,
.tax-button_cat .link h2 {
  margin: 0;
}

.post-type-archive-button .codebox,
.tax-button_cat .codebox {
  height: 0;
}

.post-type-archive-button .codebox-main,
.tax-button_cat .codebox-main {
  height: auto;
}

.codebox {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.codebox__item {
  margin: 2rem 0;
}

.codebox__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  background: #555;
}

.codebox__ttl {
  color: #fff;
  font-size: 1.6rem;
  font-weight: normal;
}

.codebox__copy {
  background-image: url(images/copy.svg);
  background-size: cover;
  width: 2.7rem;
  height: 2.7rem;
  cursor: pointer;
  position: relative;
}

.codebox__copy.message:after {
  content: "copied!";
  cursor: initial;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-120%, -55%);
          transform: translate(-120%, -55%);
  color: #f93d3d;
  font-size: 1.6rem;
  font-weight: bold;
  opacity: 0;
  -webkit-animation: fade 2s ease-in-out;
          animation: fade 2s ease-in-out;
}

.codebox.open {
  height: 47.4rem;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

.codebox-wrap {
  overflow: hidden;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.btn-list__item {
  width: calc(33% - 5.1rem);
  padding: 2rem;
  border-radius: 1rem;
  background: #ffffff;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (max-width: 480px) {
  .btn-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn-list__item {
    width: calc(100% - 4rem);
  }
}

.btn-more-code {
  width: 100%;
  border: none;
  border-radius: 10rem;
  font-weight: bold;
  color: #333;
  background-image: linear-gradient(120deg, #f3f3f3 0%, #ebedee 100%);
  cursor: pointer;
}

.btn-more-code:hover {
  opacity: 0.7;
}

.btn-more-code__icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0.5rem, -50%);
          transform: translate(0.5rem, -50%);
  width: 3.9rem;
  height: 3.9rem;
  border-radius: 10rem;
  background: #fff;
}

.btn-more-code__icon--line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 0.3rem;
  background: #fdc568;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-more-code__icon--line:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
}

.btn-more-code__icon--line:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.btn-more-code__icon.open .btn-more-code__icon--line:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.btn-more-code__icon.open .btn-more-code__icon--line:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(225deg);
          transform: translate(-50%, -50%) rotate(225deg);
}

.category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.category-list__item a {
  display: block;
  position: relative;
  padding: 0.1rem 1.5rem 0.1rem 2.5rem;
  margin: 1rem 1rem 0 0;
  border-radius: 10rem;
  background: #fff;
  -webkit-box-shadow: 1px 1px 3px #bbb;
          box-shadow: 1px 1px 3px #bbb;
  font-size: 1.4rem;
  color: #333;
  text-decoration: none;
}

.category-list__item a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(200%, -50%);
          transform: translate(200%, -50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 10rem;
  background: #444;
}

.single-button .btn-area {
  padding: 2rem;
  border-radius: 1rem;
  background: #eeeeee;
}

.portfolio-mainimg {
  width: 100%;
  cursor: pointer;
}

.js-image-popup {
  position: relative;
}

.js-image-popup__zoom-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 100vw;
  background: #fff;
  cursor: pointer;
}

.js-image-popup__zoom-button:after {
  content: "";
  background: url(images/zoom.png);
  background-size: cover;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-51%, -51%);
          transform: translate(-51%, -51%);
}

.js-image-popup ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.js-image-popup ::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}

.js-image-popup ::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

.js-image-popup__bg {
  display: block;
  width: 100%;
  height: 100vh;
  background: #00000099;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  -webkit-transition: opacity 0.5s, visibility 0s ease 0.5s;
  transition: opacity 0.5s, visibility 0s ease 0.5s;
  opacity: 0;
  visibility: hidden;
}

.js-image-popup__window {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.js-image-popup__image {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.js-image-popup__image img {
  width: 100%;
}

.js-image-popup__close-button {
  position: fixed;
  right: -14px;
  top: -18px;
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
  background: #fff;
  cursor: pointer;
}

.js-image-popup__close-button:after, .js-image-popup__close-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 0.3rem;
  background: #333;
}

.js-image-popup__close-button:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.js-image-popup__close-button:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.js-image-popup__is-show {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
  visibility: visible;
}

#hamburger_nav {
  position: absolute;
  height: 100vh;
  width: 100%;
  right: -100%;
  top: 0;
  background: #ffffff;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

#hamburger_nav ul {
  padding-top: 80px;
}

#hamburger_nav ul li {
  list-style-type: none;
  font-size: 20px;
}

#hamburger_nav ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0 15px;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#hamburger_nav ul li a:hover {
  color: #ffffff;
  background: #cd5c5c;
  border-bottom: none;
}

#hamburger_button {
  display: none;
  position: absolute;
  top: 13px;
  right: 13px;
  width: 50px;
  height: 44px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

#hamburger_button .hamburger_line {
  display: block;
  position: absolute;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #111111;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 4px;
}

#hamburger_button #line1 {
  top: 0;
}

#hamburger_button #line2 {
  top: 20px;
}

#hamburger_button #line3 {
  bottom: 0px;
}

#hamburger_button .line1_active {
  background: #111111;
  -webkit-transform: translateY(20px) rotate(-45deg);
          transform: translateY(20px) rotate(-45deg);
  top: 0;
}

#hamburger_button .line2_active {
  background: #111111;
  opacity: 0;
}

#hamburger_button .line3_active {
  background: #111111;
  -webkit-transform: translateY(-20px) rotate(45deg);
          transform: translateY(-20px) rotate(45deg);
  bottom: 0;
}

.hamburger_nav_active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media screen and (max-width: 480px) {
  #hamburger_button {
    display: block;
  }
}

/*
Theme Name: Gackun portfolio
Theme URl: テーマのURL
Author: Gackun
Description: テーマの説明
tags: テーマのタグ
License: テーマのライセンス
License URl: テーマのライセンスURL
Version: バージョン
*/
body {
  overflow-x: hidden;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  max-width: 128rem;
  padding: 10rem 3rem 0 3rem;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .page-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#content {
  width: 100%;
}

.single-blog .is-style-default, .single-blog .is-style-under-line, .single-blog .is-style-left-line,
.single-portfolio .is-style-default,
.single-portfolio .is-style-under-line,
.single-portfolio .is-style-left-line {
  padding: 10px 0;
  margin: 2rem 0;
  font-size: 20px;
  color: #333;
}

.single-blog .is-style-under-line,
.single-portfolio .is-style-under-line {
  border-bottom: 2px solid #333;
}

.single-blog .is-style-left-line,
.single-portfolio .is-style-left-line {
  border-left: 5px solid #333;
}

.single-blog .wp-block-image.size-full img,
.single-portfolio .wp-block-image.size-full img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */