body {
  background-color: #fff;
  color: #000;
}

/* メインのカラム幅
左右に15pxのpaddingがあるので、コンテンツは720px-30px*/
.wp-block {
  max-width: 720px;
}

/*「幅広」ブロックの幅、コンテンツは1080px-30px */
.wp-block[data-align="wide"] {
  max-width: 1080px;
}

/*「全幅」ブロックの幅 */
.wp-block[data-align="full"] {
  max-width: none;
}

.block-editor-block-list__layout, // ブロックの中身
.block-editor-block-styles {
  // ブロックのプレビュー
  @import "_post-heading";
}
